:root {
    --primary-color: #0e4d84;
    --secondary-color: #ea7724;
    --accent1-color: #c4d9eb;
    --accent2-color: #f2e4b3;
    --heading-font-family: "Fugaz One", serif;
    --text-font-family: "Nunito Sans", serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--text-font-family);
    max-width: 100vw;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: var(--heading-font-family);
    font-weight: 400;
    font-style: normal;
}

p, a, li, span, button figure, figcaption {
    color: var(--primary-color);
    font-family: var(--text-font-family);
    font-weight: 100;
    font-style: normal;
}

header {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    background-color: var(--primary-color);
}

header img {
    max-height: 120px;
    height: auto;
}

nav {
    display: flex;
    width: 100%;
}

nav a {
    width: 100%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(14, 77, 132, 0.5);
    padding: 0.5em 1em;
    font-size: 2.5rem;
    text-align: center;
}

.hero article {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: 1em;
    background-color: rgba(14, 77, 132, 0.5);
}

.hero article p {
    color: white;
    text-align: left;
    max-width: 100%;

}

.hero article img {
    float: right;
    margin-left: 1em;
    max-width: 150px;
    height: auto;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0em;
    padding: 1em 5em;
    background-color: var(--accent1-color);
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    width: 100%;
    margin: 0 auto;
}

.image-gallery figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    min-width: 200px;
    max-width: 200px;
}

.image-gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

footer {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 3em;
    text-align: center;
    color: white;
    font-size: 0.9rem;
}

footer p {
    margin: 0.5em 0;
}

.social-links a {
    text-decoration: none;
    margin: 0 0.5em;
}

.social-media-icons {
    max-width: 30px;
    height: auto;
}